[Unit]
Description=Mount Linuxrootfs Partition

[Mount]
What=/dev/mmcblk1p5
Where=/mnt/rootfs2
Type=ext4
Options=nofail,noauto,rw

[Install]
WantedBy=multi-user.target
