[Unit]
Description=Mount Linuxrootfs Partition

[Mount]
What=/dev/mmcblk1p7
Where=/mnt/rootfs3
Type=ext4
Options=nofail,noauto,rw

[Install]
WantedBy=multi-user.target
